body{
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(235, 21%, 11%);
}

i{
    margin: 0px 20px;
    cursor: pointer;
}
.background{
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
}
.bgcontainer{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 350px;
    overflow: hidden;
}

.TodoContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TodoContainer .TodoInput{
    display: flex;
    float: left;
    background-color: hsl(235, 24%, 19%);
    width: 300px;
    height: 50px;
    align-items: center;
}

input[type=text]{
    outline: transparent;
    background: transparent;
    border: 0px;
    padding-left: 5px;
    margin-left: 20px;

}
input[type=text]:focus{
    outline: transparent;
    border: 0px;
    padding-left: 5px;
    color: white;
}
h1{
    color: white;
}
.newTodosContainer{
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.newTodosContainer .newTodos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid hsl(233, 15%, 33%);
    width: 300px;
    height: 50px;
}
.newTodosContainer .newTodos p{
    white-space: nowrap;
}

.managingDiv{
    color: white;
    background-color: hsl(235, 10%, 42%);
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

}
.managingDiv p, a{
    margin: 0px 20px;

}
button{
    color: white;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
a{
    cursor: pointer;
}