:root{
    --dark-theme-color : #161722;
    --light-theme-color : #eeeeee;
}

body{
    font-size: 18px;
    font-weight: bold;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 300px;
}
h4{
    position: absolute;
    right: 0;
    cursor: pointer;
    bottom: 0;
}
i{
    margin: 0px 20px;
    cursor: pointer;
}
.crossedTodo{
    text-decoration: line-through;
    color: grey;
}
#clear-all{
    cursor: pointer;
}
.background{
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
}
.bgcontainer{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 350px;
    overflow: hidden;
}

.TodoContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TodoContainer #todoInputLight{
    display: flex;
    float: left;
    background-color: var(--light-theme-color);
    width: 300px;
    height: 50px;
    align-items: center;
    border-radius: 5px;
}
.TodoContainer #todoInputDark{
    display: flex;
    float: left;
    background-color: var(--dark-theme-color);
    width: 300px;
    height: 50px;
    align-items: center;
    border-radius: 5px;
}
input[type=text]{
    outline: transparent;
    background: transparent;
    border: 0px;
    padding-left: 5px;
    margin-left: 20px;

}
input[type=text]:focus{
    outline: transparent;
    border: 0px;
    padding-left: 5px;
    color: white;
}
h1{
    color: white;
}
.todosLight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    background-color: var(--light-theme-color);
    border-bottom: 1px solid hsl(233deg 60.38% 92.85%);
    width: 300px;
    height: 50px;
}
.todosDark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: grey;
    background-color: var(--dark-theme-color);
    border-bottom: 1px solid hsl(240, 5%, 22%);
    width: 300px;
    height: 50px;
}
.newTodosContainer{
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.managingDiv{
    color: white;
    background-color: hsl(235, 10%, 42%);
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border-radius: 0px 0px 5px 5px;
    font-size: small;

}
.managingDiv p, a{
    margin: 0px 20px;

}
button{
    color: white;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
a{
    cursor: pointer;
}